{% load staticfiles %}
<html>
    <head>
        <title>Zach's Keyboard Fun</title>
		<meta name="description" content="This is a fun project">
		<meta name="keywords" content "python, biokey">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="page-header">
			<center><h1><font color = "blue">Keyboard Fun</font></h1></center>
			
        </div>
		
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'choice' %}">Login</a></li>
						<li><a href="{% url 'post_new' %}">Create Account</a></li>
						<li><a href="https://firstplacematt.wixsite.com/mentorshipjunior">Progress</a></li>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        <h5><a href="{% url 'get_name' post.id %}" ><font color="black">{{ post.author }}</font></a></h5>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>