{% load staticfiles %}
<html>
    <head>
        <title>Zach's Keyboard Fun</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<div class="page-header">
		<center><h1><font color = "black">Who Are You Applying As?</font></h1></center>	
    </div>
	<form action='' method='post'>
		{% csrf_token %}
		<center>{{form.as_p}}
		<button type="submit" class="save btn btn-default">Save</button>	
		</center>
	</form>
</html>
