<form action='' method='post'>
	{% csrf_token %}
	<p><label for="author">Author:</label>
	<input type="text" name="author" id="author" value = "{{author}}" required/></p>
	
	<p><label for="comboListText">charLib:</label>
	<input type="text" name="comboListText" id="comboListText" value = "{{combo}}" required/></p>
	<p><label for="medListText">medListText:</label>
	<input type="text" name="medListText" id="medListText" value = "{{times}}" required/></p>
			
	<button type="submit" class="save btn btn-default">Save</button>	

</form>