

{% block content %}
{% load staticfiles %}

<head>
	<title>Zach's Keyboard Fun</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

<h2><a href="/">{{post.author}}</a></h2>

<input type="hidden" id="times" value="{{times}}">
<input type="hidden" id="combo" value="{{combo}}">
<p>{{post.id}}</p>
<p id="demo"></p>

<script>
var fruits, text, fLen, i;

fruits = document.getElementById("combo").value.split(",");
vegies = document.getElementById("times").value.split(",");

fLen = fruits.length;
text = "<ul>";
for (i = 0; i < fLen; i++) {
    text += "<li>" + fruits[i] +" "+ vegies[i]+"</li>";
}
text += "</ul>";
document.getElementById("demo").innerHTML = text;
</script>

</body>
{% endblock %}